{% extends "base.html" %}


{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/test_center.css' %}">

<style>
  .header {
    padding: 15px 30px 35px !important;
  }
</style>
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<section class="section1">
  <div class="info-div font-heading">
    <h2 class="mb-5 text-6xl md:text-5xl  font-bold font-heading tracking-px-n leading-tight"
      style="color: #4338CA; text-align:center">Search Availability</h2>
    <!-- <h1>Search Availability</h1> -->

    <h3 class="">Find a Test Center</h3>

    <p>
      Enter your preferred location and date range to find a test center. Until your appointment is scheduled,
      availability is
      subject to change.
    </p>
    <p>
      The location and date range can be updated on the next page if the available dates and times returned are not
      suitable
      to your schedule.
    </p>
  </div>

</section>


<section class="section2">

  <div class="form-div">
    <form class="forms" method="post">
      {% csrf_token %}
      <div class="input1 font-heading">
        <label style="font-size: large;" for="">Scheduling For: <b></b></label><br>
        <input type="text" name="address" value="{{address}}" placeholder="Address, City or Zip/Postal Code" required>
      </div>
      <br>
      <div class="input2">
        <div class="start font-heading">

          <label style="font-size: large;" for="">Start Date</b></label><br>
          <input type="date" name="start_date" value="{{start_date}}" id="start-date" min="{{min_date}}"
            placeholder="MM/DD/YYYY" required>

        </div>
        <div class="start font-heading">

          <label style="font-size: large;" for="">End Date</b></label><br>

          {% if end_date %}
          <input type="date" name="end_date" value="{{end_date}}" id="end-date" placeholder="MM/DD/YYYY" required>
          {% else %}
          <input type="date" name="end_date" id="end-date" placeholder="MM/DD/YYYY" disabled required>
          {% endif %}


          {% if date_msg %}
          <p style="color: red;">Date range exceed.</p>
          {% endif %}

        </div>
      </div>

      {% if end_date %}
      <button type="submit" name="button" id="submit-btn" class="next_button font-heading"
        style="margin-top: 20px; background-color:#4338CA;">Submit</button>
      {% else %}
      <button type="submit" name="button" id="submit-btn" class="next_button font-heading"
        style="margin-top: 20px; background-color:#4338CA;" disabled>Submit</button>
      {% endif %}



      <input type="hidden" value="{{test_sponsor}}" name="test_sponsor">
      <input type="hidden" value="{{test_program}}" name="test_program">
      <input type="hidden" value="{{test_test}}" name="test_test">

    </form>

  </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}