{% extends "base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/test_center.css' %}">
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<section>
  <div class="info-div">
    <h1 style="margin-top: 50px;">Search Availability</h1>
    <h3 class="one">Find a Test Center</h3>

    <p class="one">
      Enter your preferred location and date range to find a test center. Until your appointment is <br>scheduled,
      availability is
      subject to change.
    </p>
    <p class="one">
      The location and date range can be updated on the next page if the available dates and times <br> returned are not
      suitable
      to your schedule.
    </p>
  </div>

  <div class="form-div">
    <form class="forms" action="{% url 'testCenter' %}" method="post">
      {% csrf_token %}
      <div class="input1">
        <label for="">Scheduling For: <b></b></label><br>
        <input type="text" name="address" value="" placeholder="Address, City or Zip/Postal Code" required>
      </div>
      <br>
      <div class="input2">
        <div class="start">
          <label for="">Start Date</b></label><br>
          <input type="date" name="start-date" value="" min="2022-12-21" placeholder="MM/DD/YYYY" required>
        </div>
        <div class="start">
          <label for="">End Date</b></label><br>
          <input type="date" name="end-date" value="" placeholder="MM/DD/YYYY" required>
          <p class="note">Note: You must select an end date that is within 2 weeks of <br>the selected start date. </p>
        </div>
      </div>

      <button type="submit" name="button" class="next_button" style="margin-top: 20px;">Submit</button>

      <input type="hidden" value="{{test_sponsor}}" name="test_sponsor">
      <input type="hidden" value="{{test_program}}" name="test_program">
      <input type="hidden" value="{{test_test}}" name="test_test">

    </form>

  </div>

</section>

{% endblock %}