{% extends "base.html" %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<section class="dropdown-section">
    <div class="dropdown-section-inner-div">
        <h3 class="mb-5 text-6xl md:text-5xl  font-bold font-heading tracking-px-n leading-tight">Profile</h3>
        <div class="info-div">
            {% for info in info_obj %}
                <div class="info-card">
                    
                    <p class="mb-3 font-heading text-xl font-bold font-heading leading-normal">{{info.test_sponsor}}, {{info.test_program}}, {{info.test_test}}</p>
                    <p style="color: #4338CA;">{{info.address}}, {{info.start_date}}, {{info.end_date}}</p>
                    <br>
                    {% for address in got_address_obj %}
                        {% if address.info.id == info.id %}
                            <p class="mb-2 font-heading text-x font-bold font-heading leading-normal">{{address.address}}</p>
                            {% for date in got_date_obj %}
                                {% if date.address.id == address.id %}
                                    <p></p>
                                    <div style="display: flex; gap: 10px;">
                                        {% for time in got_time_obj %}
                                            {% if time.date.id == date.id %}
                                                <p>{{date.date}}, {{time.time}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


{% block js %}

    <script src="{% static 'js/home.js' %}" ></script>

{% endblock %}
