{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    .resultpage {
        font-family: "General Sans", sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        color: rgba(79, 70, 229);
    }

    .resultpage1 {
        font-family: "General Sans", sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 3rem;
    }
</style>

<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<body class="body" style="background-color: white;">
    <section style="background-color: white;">
        <div class="container">
            <div class="hero-wrapper-two ">
                <h1 style="color: black; " class="resultpage1"><b> Requests made</b> </h1>
            </div>
        </div>
    </section>
    <div>
        <div class="w-container " style="width:100%; margin-top: 40px; ">
            {% if info_obj %}
            {% for info in info_obj %}
            <div
                class=" mb-4 text-lg  font-heading leading-snug p-10 h-full bg-blueGray-100 hover:bg-blueGray-200 bg-opacity-70 rounded-xl transition ease-in-out duration-200 ">
                <div>
                    <p class="heading-3" style="color:black;"> <b> {{info.address}}</b></p>
                    <p class="heading-3_2" style="margin-top:20px; color:black">{{info.test_sponsor}},
                        {{info.test_program}}, {{info.test_test}}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="no-data">
                <div class="no-data-msg-holder">
                    <h3 style="font-size: 25px;" class="resultpage1">No requests found, <br> Please go to this link to make the request</h3>
                    <br>
                    <a href="{% url 'home' %}" class="make-request-link">Make a Request</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}

{% block js %}

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}