* {
  box-sizing: border-box;
  margin: 0px;
}

header{
  background-color: #FFFFFF;
  padding: 30px;
  border-bottom-style: solid;
  border-bottom-color: #8CC63F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links{
  display: flex;
  gap: 10px;
}

.header-links > a{
  text-decoration: none;
  color: #8CC63F;
  font-size: 20px;
}

header > img{
   width:150px;

}

.next_button{
  float:right;
  padding: 7px 15px;
  font-size: 15px;
  color: white;
  background-color: #8CC63F;
  border-radius: none;
}
