.dropdown-section{
    display: flex;
    justify-content: center;
}

.dropdown-section-inner-div{
    max-width: 950px;
    width: 100%;
}
.search-title{
  margin-top: 50px;
}
.dropdown-div{
    margin-top: 50px;
    padding: 0px 10%;
}

.dropdown-inner-div{
    margin-bottom: 50px;
}

select,
select>option{
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.home-btn-div{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
