{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>



<header style="margin-top: -30px;">
    <img src="{% static 'images/scheduler.png' %}" style="margin-bottom: 8px;">
        <div class="container mx-auto overflow-hidden">
            <div class="relative z-20 flex items-center justify-between px-4 py-5 bg-transparent">
              <div class="w-auto">
                <div class="flex flex-wrap items-center">
                  <div class="w-auto mr-14">
                  </div>
                  <div class="w-auto hidden lg:block" style="margin-left: -120px; margin-top: 12px;">
                    <ul class="flex items-center mr-16">
                      <li class="mr-9 font-medium hover-text-gray-700"><a style="font-size: 17px;" href="#"> <b>Features</b> </a></li>
                      <li class="mr-9 font-medium hover-text-gray-700"> <a style="font-size: 17px;" href="#"> <b> Solutions</b></a></li>
                      <li class="mr-9 font-medium hover-text-gray-700"><a style="font-size: 17px;" href="#"> <b>Resources</b> </a></li>
                      <li class="mr-9 font-medium hover-text-gray-700"><a style="font-size: 17px;" href="#"> <b> Pricing</b></a></li>
                      <li class="font-medium hover-text-gray-700"><a style="font-size: 17px;" href="{% url 'profile' %}"> <b> Profile</b></a></li>
                    </ul>
                  </div>
                  
                </div>
                </div>

                <div style=" margin-top: 0px;"  class="nav-sigin">
                    {% if not user.is_authenticated %}
                   <a style="font-size: 17px;" class="hover-text-gray-00" href= "{% url 'sign_up' %}" > <b>Sign In</b> </a>

                      {% else %}
                     <a style="font-size: 17px;" class="hover-text-gray-00" href= "{% url 'logout' %}" > <b>Logout</b> </a>
                    {% endif %}
                </div>
                {% if not user.is_authenticated %}
                <div class="mt-9" style="margin-top: -5px; margin-right: -35px; ">
                    <button class="py-2 px-4 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="submit"> <b>Try 14 Days Free Trial</b> </button>
                  </div>
                {% else %}
                <!-- <div class="w-auto hidden lg:block hover:bg-indigo-700 " style=" margin-right: -35px; border: 1px solid black; border-radius: 12px; background-color: aqua;">
                    
                      <button class="py-2.5 px-4 text-base w-full font-medium border border-gray-400 hover:border-gray-500 rounded-xl focus:ring focus:ring-gray-50 bg-white hover:bg-gray-50 transition ease-in-out duration-200" type="submit"> Start 14 Days Free Trial</button>
                    
                  </div> -->

                  
                        <div class="inline-block " style="margin-top: -5px; margin-right: -35px;">
                          <a href="{% url 'subscribe' %}">
                            <button class="days py-2.5 px-4 text-base w-full font-medium border border-gray-400 hover:border-gray-500 rounded-xl focus:ring focus:ring-gray-50 bg-white hover:bg-gray-50 transition ease-in-out duration-200 " type="submit"> <b>Start 14 Days Free Trial</b> </button>
                          </a>
                        </div>
                    
                {% endif %}
              
                          
                               
                
            </div>
         
        </div>
        <!-- <img src="{% static 'images/scheduler.png' %}">
    
        {% if user.is_authenticated %}
        <div class="header-links">
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %} -->
    
    </header>


